{% capture lang_url %}{% translate global.lang_url %}{% endcapture %}
    <meta property="og:url" content="{{ site.url }}{{ lang_url }}{{ page.url }}">
{% if page.image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.image }}">
{% else %}
    <meta property="og:image" content="{{ site.url }}/images/logo-header.svg">
{% endif %}
{% if page.url contains "/product/" %}
    <meta property="og:type" content="product">
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}">
{% else%}
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ translate header.description }}">
{% endif %}
{% capture site_title %}{% include title.html title=page.title %}{% endcapture %}
    <meta property="og:title" content="{{ site_title | strip_newlines }}">